<body class="min-vh-100">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 mx-auto">
        <div class="text-center text-md-start">
          <h1 class="fw-bold mt-4">Equipamentos</h1>
        </div>
        <div class="d-grid d-md-block gap-2">
          <button (click)="gravar(modal)" type="button" class="btn btn-light me-md-1 col-md-2 mt-3">
            <i class="pi pi-user-plus me-2"></i>Novo
          </button>

          <button role="button" class="btn btn-outline-light me-md-1 col-md-2 mt-3" routerLink="/painel">
            <i class="pi pi-user-plus me-2"></i>Voltar
          </button>
        </div>

        <div class="mt-5">
          <table class="table table-light table-striped table-hover ">
            <thead class="thead-dark text-center">
              <tr>
                <th>N de Série</th>
                <th>Nome do Equipamento</th>
                <th>Preço de Aquisição</th>
                <th>Data de Fabricação</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody class="text-center fs-6">
              <tr *ngFor="let equipamento of (equipamentos$ | async)">
                <td>{{ equipamento.numeroSerie }} </td>
                <td>{{ equipamento.nomeEquipamento }} </td>
                <td>{{ equipamento.preco | currency : 'R$'}} </td>
                <td>{{ equipamento.dataFabricacao | date: 'dd/MM/yyyy'}}</td>
                <td class="d-grid d-md-block">
                  <button (click)="gravar(modal, equipamento)" type="button"
                    class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto ">
                    <i class=" pi pi-user-edit"></i>
                  </button>

                  <button (click)="excluir(equipamento)" type="button" class="btn btn-outline-danger  ">
                    <i class=" pi pi-trash"></i>
                  </button>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> {{tituloModal}} de Equipamento</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
    </div>

    <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
      <div class="modal-body">

        <div class="form-group mb-3 position-relative">
          <label for="numeroSerie" class="form-label">N do Equipamento</label>
          <input formControlName="numeroSerie"
          [ngClass]="(numeroSerie?.touched && numeroSerie?.invalid) ? 'is-invalid' : '' "
           class="form-control" type="text"
            placeholder="Digite o numero do seu equipamento">
            <div class="invalid-tooltip" *ngIf="numeroSerie?.touched && numeroSerie?.invalid">
              <span *ngIf=" numeroSerie?.errors?.['required']">O numero de serie precisa ser preenchido</span>
              <span *ngIf=" numeroSerie?.errors?.['minlength']">O numero de serie precisa ter no mínimo 3 caracteres</span>
            </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="nomeEquipamento" class="form-label">Nome do Equipamento</label>
          <input formControlName="nomeEquipamento"
          [ngClass]="(nomeEquipamento?.touched && nomeEquipamento?.invalid) ? 'is-invalid' : '' "
          class="form-control" type="text"
            placeholder="Digite o nome do seu equipamento">
            <div class="invalid-tooltip" *ngIf="nomeEquipamento?.touched && nomeEquipamento?.invalid">
              <span *ngIf=" nomeEquipamento?.errors?.['required']">O nome precisa ser preenchido</span>
              <span *ngIf=" nomeEquipamento?.errors?.['minlength']">O nome precisa ter no mínimo 3 caracteres</span>
            </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="preco" class="form-label">Preço</label>
          <input formControlName="preco"
          [ngClass]="(preco?.touched && preco?.invalid) ? 'is-invalid' : '' "
           class="form-control" type="number" placeholder="R$ 00,00">
           <div class="invalid-tooltip" *ngIf="preco?.touched && preco?.invalid">
            <span *ngIf=" preco?.errors?.['required']">O preço precisa ser preenchido</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="dataFabricacao" class="form-label">Data de Fabricação</label>
          <input formControlName="dataFabricacao"
          [ngClass]="(dataFabricacao?.touched && dataFabricacao?.invalid) ? 'is-invalid' : '' "
           class="form-control" type="date">
           <div class="invalid-tooltip" *ngIf="dataFabricacao?.touched && dataFabricacao?.invalid">
            <span *ngIf=" dataFabricacao?.errors?.['required']">A data de Fabricacao precisa ser preenchido</span>
            <span *ngIf=" dataFabricacao?.errors?.['datafutura']">A data de Fabricacao precisa ser antes da data de HOJE!!</span>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary col-md-3"
          (click)="modal.dismiss('fechar')">Cancelar</button>
        <button type="submit" class="btn btn-primary col-md-3" [disabled]="this.form.invalid">Gravar</button>
      </div>
    </form>
  </ng-template>



</body>
