<body class="min-vh-100">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 mx-auto">
        <div class="text-center text-md-start">
          <h1 class="fw-bold mt-4">Requisições para meu Departamento</h1>
        </div>
        <div class="d-grid d-md-block gap-2">

          <button role="button" class="btn btn-outline-light me-md-1 col-md-2 mt-3" routerLink="/painel">
            <i class="pi pi-user-plus me-2"></i>Voltar
          </button>

        </div>
      </div>
    </div>
  </div>

</body>

